html
    head
        title email
    body
        table(width="100%", cellspacing="0", cellpadding="0", border="0", align="center")
            tr
                td &nbsp;
                td(valign="top", align="center")
                    table.container(width="600px", cellspacing="0", cellpadding="0", border="0")
                        tr
                            td Green Light for 60% MacKeeper Sale
                            td Open in browser
                td &nbsp;
                
